* {
  border-style: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ----------------------------------------------------------------------- */
.navBar {
  align-items: flex-end;
  background-color: #9381FF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 22.5rem;
  overflow-y: auto;
}
.navBar__titleWrapper {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  padding: 2.6875rem 2.75rem 3.8125rem 4.1875rem;
}
.navBar__titleWrapper--title {
  color: #f8f7ff;
  font-size: 2.25rem;
}
.navBar__category {
  align-items: center;
  background-color: #9381FF;
  border-radius: 1rem 0rem 0rem 1rem;
  color: #f8f7ff;
  cursor: pointer;
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  gap: 0.625rem;
  height: 3.3125rem;
  justify-content: flex-start;
  padding-left: 2.75rem;
  padding-right: 0.5rem;
  position: relative;
  width: 18.75rem;
}
.navBar__category--active {
  background-color: #f8f7ff;
  color: #9381FF;
}
.navBar__category--active::before, .navBar__category--active::after {
  background-image: url(../Icons/roundedCorner.svg);
  content: "";
  height: 1rem;
  position: absolute;
  right: 0;
  width: 1rem;
}
.navBar__category--active::before {
  top: -1rem;
}
.navBar__category--active::after {
  bottom: -1rem;
  transform: rotate(-90deg);
  z-index: 1;
}
.navBar__category--active .navBar__category__counter {
  background-color: #9381FF;
  color: #f8f7ff;
}
.navBar__category__counter {
  background-color: #f8f7ff;
  border-radius: 0.25rem;
  color: #9381FF;
  font-size: 0.75rem;
  padding: 0.125rem 0.625rem;
}

.addButton {
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  display: flex;
  gap: 16px;
  background-color: #f8f7ff;
  height: 100vh;
}

/* -------------------------------------UL---------------------------------- */
.cardContainer {
  align-items: center;
  background-color: #f8f7ff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 3rem;
  padding-top: 7.12rem;
  overflow-y: auto;
}
.cardContainer__titleWrapper {
  display: flex;
  gap: 1rem;
}
.cardContainer__titleWrapper--title {
  color: #9381FF;
  font-size: 2.625rem;
}
.cardContainer__cardList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.item {
  list-style: none;
}

.card {
  align-items: center;
  background-color: #B8B8FF;
  border-radius: 0.75rem;
  color: #f8f7ff;
  display: flex;
  gap: 0.5rem;
  max-width: 18.75rem;
  padding: 1rem;
}

.checkbox {
  display: none;
}

.checkField {
  align-items: center;
  background-color: #f8f7ff;
  border-radius: 0.25rem;
  display: flex;
  height: 1rem;
  justify-content: center;
  width: 1rem;
}

.image {
  display: none;
}

.deleteButton {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

/* -------------------------------------COMBINED---------------------------------- */
.checkbox:checked + .card {
  background-color: rgba(161, 161, 161, 0.67);
  color: #50514F;
  text-decoration: line-through;
}

.checkbox:checked + .card .checkField {
  background-color: #A1A1A1;
}

.checkbox:checked + .card .image {
  display: block;
}

/* -------------------------------------NEW---------------------------------- */
.checkbox__text {
  background-color: transparent;
  border: 0;
  color: inherit;
  flex-grow: 1;
  outline: 0;
}

.checkbox__text:focus {
  padding-left: 3px;
}


.navInput {
  background-color: transparent;
  outline: none;
  font-size: 1.25rem;
  font-weight: 700;
  width: 70%;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
