@import './variables';

* {
    border-style: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none; 
    margin: 0;
    padding: 0;
}
  
/* ----------------------------------------------------------------------- */
    
  .navBar {
    align-items: flex-end;
    background-color: $purple;   
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 22.5rem; 
    overflow-y: auto;

    &__titleWrapper {  
      display: flex;
      gap: 1.5rem;
      justify-content: center;  
      padding: 2.6875rem 2.75rem 3.8125rem 4.1875rem;

      &--title {
        color: $white;
        font-size: 2.25rem;
      }

    }

    &__category {
      align-items: center;
      background-color: $purple; 
      border-radius: 1rem 0rem 0rem 1rem;
      color: $white;
      cursor: pointer;
      display: flex;
      font-size: 1.25rem;
      font-weight: 700;
      gap: 0.625rem;
      height: 3.3125rem;
      justify-content: flex-start;
      padding-left: 2.75rem;
      padding-right: 0.5rem;
      position: relative;
      width: 18.75rem;
    
      &--active {
          background-color: $white; 
          color: $purple;

          &::before, &::after {
            background-image: url(../Icons/roundedCorner.svg);
            content: '';
            height: 1rem;
            position: absolute;
            right: 0;
            width: 1rem;            
          }

          &::before {
            top: -1rem;
          }

          &::after {
            bottom: -1rem;
            transform: rotate(-90deg);
            z-index: 1;            
          }

          .navBar__category__counter {
            background-color: $purple;
            color: $white;
          }
      } 
      
      &__counter {
          background-color: $white;
          border-radius: 0.25rem;
          color: $purple;
          font-size: 0.75rem;
          padding: 0.125rem 0.625rem;
      }
    }
}

.addButton {
    background-color: transparent;
    cursor: pointer;
}

.wrapper {
    display: flex;
    gap: 16px;
    background-color: $white;
    height: 100vh;
}  
  
/* -------------------------------------UL---------------------------------- */
  
.cardContainer {
    align-items: center;
    background-color: $white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 3rem;
    padding-top: 7.12rem;
    overflow-y: auto;

    &__titleWrapper {
        display: flex;
        gap: 1rem;

        &--title {
            color: $purple;
            font-size: 2.625rem;
        }
        
    }

    &__cardList {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

}

// ------------------------------InnerHTML----------------------------------------------------------

.item {
    list-style: none;
}


.card {
    align-items: center;
    background-color: $purple200;
    border-radius: 0.75rem;
    color: $white;
    display: flex;
    gap: 0.5rem;
    max-width: 18.75rem;
    padding: 1rem;
}

.checkbox {
    display: none;
}

.checkField {
    align-items: center;
    background-color: $white;
    border-radius: 0.25rem;
    display: flex;
    height: 1rem;
    justify-content: center;
    width: 1rem;
}

.image {
    display: none;
}

.deleteButton {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

/* -------------------------------------COMBINED---------------------------------- */

.checkbox:checked + .card {
    background-color: rgba(161, 161, 161, 0.67);
    color: $grey-400;
    text-decoration: line-through;
}

.checkbox:checked + .card .checkField {
    background-color: $grey-200;
}

.checkbox:checked + .card .image {
    display: block;     
}

/* -------------------------------------NEW---------------------------------- */

.checkbox__text {
    background-color: transparent;
    border: 0;
    color: inherit;
    flex-grow: 1;
    outline: 0;
}

.checkbox__text:focus {
    padding-left: 3px;
}

/*# sourceMappingURL=style.css.map */

.navInput {
    background-color: transparent;
    outline: none;
    font-size: 1.25rem;
    font-weight: 700;
    width: 70%;
    color: inherit;
}
